<div class="col-md-3">
    <div class="accordion mb-4 d-md-none" id="accordionExample">
        <div class="accordion-item boder border-3">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                User menu
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <a class="fs-5 fw-medium text-decoration-none text-dark" href="/profile/info">Personal details</a><br>
                    <hr class="my-1">
                    <a class="fs-5 fw-medium text-decoration-none text-dark" href="/profile/wishlist">Wishlist</a><br>
                    <hr class="my-1">
                    <a class="fs-5 fw-medium text-decoration-none text-dark" href="/profile/delivery">My orders</a><br>
                    <hr class="my-1">
                    <a class="fs-5 fw-medium text-decoration-none text-dark" href="/profile/info">Logout</a> 
                </div>
            </div>
        </div>
    </div>
    <div class="user-menu d-none d-md-block">
        <a class="fs-5 fw-medium text-decoration-none text-dark" href="/profile/info">Personal details</a><br>
        <hr class="my-1" style="width: 75%">
        <a class="fs-5 fw-medium text-decoration-none text-dark" href="/profile/wishlist">Wishlist</a><br>
        <hr class="my-1" style="width: 75%">
        <a class="fs-5 fw-medium text-decoration-none text-dark" href="/profile/delivery">My orders</a><br>
        <hr class="my-1" style="width: 75%">
        <a class="fs-5 fw-medium text-decoration-none text-dark" href="/logout">Logout</a>  
    </div>
</div>