<nav class="navbar sticky-top navbar-expand-lg navbar-black bg-body-secondary">
    <div class="container">
        <div class="fixed-width">
            <a href="/" class="navbar-brand">
              <svg class="logo" viewBox="0 0 284 182" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M34.6045 62.7119L26 75.546L71.5 119.5L42 123.071L57.3243 141.5L95.3243 129.84L97.3784 145.967L113.811 149.02L129.73 123.071L134.865 143.932L147.189 148.003L160.027 136.3L155.919 123.071L168.757 98.6481L171.324 112.405L165.676 116.985L174.405 129.196L183.649 175L202.135 165.359C202.135 165.359 192.892 133.267 198.027 129.196C213.349 117.051 254.595 140.003 254.595 140.003L270 128.332L207 105L233 66.5L227 58.5L190.5 98.6481L172.865 4L154.892 11.1039L163.108 61.5023L148.73 98.6481L143.081 79.0979L119.973 85.1869L123.568 98.6481L113.811 115.547L101.486 25.4258L88.6486 30.5L93.5 112.405L57.3243 82.3662H77.5L73.7568 66.5L34.6045 62.7119Z" fill="DimGray"/>
                <path d="M137.5 70.5L121.5 75.546L113.811 61.5023L134.865 52.5L137.5 70.5Z" fill="DimGray"/>
                <path d="M211.279 47.6222L211.186 39.2676C211.176 38.4279 210.199 37.973 209.55 38.5065L201.512 45.1203C201.24 45.3441 200.87 45.4083 200.539 45.2892L191.194 41.9334C190.358 41.6332 189.575 42.4907 189.949 43.2962L193.325 50.5564C193.483 50.8965 193.438 51.2965 193.207 51.5925L188.484 57.6568C187.937 58.3598 188.513 59.3737 189.397 59.2636L200.303 57.9045C200.592 57.8685 200.883 57.9605 201.099 58.1564L208.434 64.8156C209.033 65.359 209.996 65.0042 210.098 64.2022L210.996 57.1964C211.046 56.8096 211.315 56.4868 211.687 56.3697L220.59 53.5664C221.503 53.2788 221.529 51.9952 220.627 51.6715L211.941 48.5521C211.548 48.4109 211.284 48.04 211.279 47.6222Z" fill="DimGray"/>
                <path d="M274.5 91C274.5 111.786 261.338 131.933 237.283 147.348C213.334 162.696 179.672 172.5 142 172.5C104.328 172.5 70.6664 162.696 46.7166 147.348C22.662 131.933 9.5 111.786 9.5 91C9.5 70.2136 22.662 50.0671 46.7166 34.6518C70.6664 19.3037 104.328 9.5 142 9.5C179.672 9.5 213.334 19.3037 237.283 34.6518C261.338 50.0671 274.5 70.2136 274.5 91Z" stroke="DimGray" stroke-width="20"/>
              </svg>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav mx-auto">
            <a class="nav-link fs-5 fw-bold nav-text" href="/">Home</a>
            <a class="nav-link fs-5 fw-bold mx-1 nav-text" href="/products">Shop</a>
            <a class="nav-link fs-5 fw-bold nav-text" href="/contact">Contacts</a>
          </div>
          
          <div class="fixed-width">
            <div class="navbar-nav justify-content-end">
              <% if (currentUser && currentUser.role === 'customer') { %>
                <a class="nav-link fs-5" href="/profile/wishlist"><i class="fa-solid fa-heart"></i></a>   
              <% } %>
              
              <a class="nav-link fs-5" href=<%= currentUser ? "/profile/info" : "/login" %>><i class="fa-solid fa-user"></i></a>  
              
              <% if (currentUser && currentUser.role === 'admin') { %>
                <a class="nav-link fs-5" href="/order"><i class="fa-solid fa-chart-simple"></i></a>
                <a class="nav-link fs-5" href="/new"><i class="fa-solid fa-circle-plus"></i></a>  
              <% } %> 
              
              <a class="nav-link fs-5" href="<%= cartQuantity > 0 ? '/cart' : 'javascript:void(0);' %>">
                <i class="fa-solid fa-cart-shopping"></i> 
                <span class="badge rounded-pill bg-secondary position-absolute top-40 translate-middle cart-number">
                  <%= cartQuantity  %>
                </span>
              </a>
            </div>
          </div>
        </div>
    </div>
</nav>